<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/upload.css">


</head>

<body>
    <nav class="shell close">
        <header>
            {% if session['logged_in'] %}
            <div class="image-text" >
                <span class="image">
                    <a href="#" onclick="toge()">
                    <img src="{{profilePic}}" alt=""></a>
                </span>
            {% else %}
                <span class="image">
                    <a href="/login_page" >
                    <img src="../static/img/profilephoto.png" alt=""></a>
            {% endif %}
                </span>
                <div class="text logo-text">
                    <span class="name">{{name}}</span>
                    <span class="words">--网站正在搭建
                </div>
            </div>
            <i class="iconfont icon-jiantou toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class="iconfont icon-sousuo icon"></i>
                    <input type="text" placeholder="没钱请后端做搜索功能">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class="iconfont icon-zhuye icon"></i>
                            <span class="text nac-text">主页</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#" onclick="alert('该功能已关闭，敬请期待')">
                            <i class="iconfont icon-caixukun icon"></i>
                            <span class="text nac-text">展示</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#" onclick="alert('该功能已关闭，敬请期待')">
                            <i class="iconfont icon-chongzhi icon"></i>
                            <span class="text nac-text">记账</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#" onclick="loadPage('/note')">
                            <i class="iconfont icon-riji icon"></i>
                            <span class="text nac-text">文章</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="bottom-content">
                <li class="" >
                    {% if session['logged_in'] %}
                    <a href="{{ url_for('logout') }}">
                        <i class="iconfont icon-tuichudenglu icon"></i>
                        <span class="text nac-text">退出</span>
                    </a>
                     {% else %}
                    <a href="/login_page"}>
                        <i class="iconfont icon-tuichudenglu icon"></i>
                        <span class="text nac-text">登录</span>
                    </a>
                    {% endif %}
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class="iconfont icon-rijian icon sun"></i>
                        <i class="iconfont icon-yejian icon moon"></i>
                    </div>
                    <span class="mode-text text">夜间模式</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <content id="content">
        <div class="content">
            
        </div>
    </content>

    <div class="upload-container" id="popup">  
        <div class="upload-header">  
          <h2>更换头像</h2>  
          <button class="close-btn">X</button>  
        </div>  
        <div class="upload-body">  
          <input type="file" id="image-upload" accept="image/*">  
          <div class="preview-container">  
            <img id="preview-image" src="#" alt="预览图片" style="display: none;">  
          </div>  
        </div>  
        <div>
          <button class="upload-btn">上传</button>
        </div>
      </div> 
    



</body>

<script src="../static/js/nav.js"></script>
<script src="../static/js/loadpage.js"></script>
<script src="../static/js/upload.js"></script>
</html> 