<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/page.css">
</head>
<body>
    <div class="warp">
        <div class="card one">
            <div class="title">你说得很对</div>
            <div class="content">但是《原神》是由米哈游自主研发的一款全新开放世界冒险游戏。游戏发生在一个被称作「提瓦特」的幻想世界，在这里，被神选中的人将被授予「神之眼」，导引元素之力。你将扮演一位名为「旅行者」的神秘角色，在自由的旅行中邂逅性格各异、能力独特的同伴们，和他们一起击败强敌，找回失散的亲人——同时，逐步发掘「原神」的真相。</div>
        </div>
        <div class="card two">
            <div class="title">Title 2</div>
            <div class="content">Content 2</div>
        </div>
        <div class="card three">
            <div class="title">Title 3</div>
            <div class="content">Content 3</div>
        </div>
        <div class="card four">
            <div class="title">Title 4</div>
            <div class="content">Content 4</div>
        </div>
        <div class="card five">
            <div class="title">Title 5</div>
            <div class="content">Content 5</div>
        </div>
    </div>
</body>
</html>